@import '../../../css/variables.scss';

.apparel-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	// height: 100vh;
	width: 100%;
	padding-top: 0 !important;
	flex-basis: 70%;
	margin: auto;

	& .arrows-scroll {
		position: absolute;
		cursor: pointer;
		font-size: x-large;
		background-color: color(white);
		border-radius: 50%;
		text-align: center;
		transition: transform .15s ease-out;
		width: 3rem;
		height: 3rem;
		line-height: 3rem;
		outline: none;
		&:hover {
			transform: scale(1.2);
		}
		&:first-child {
			left: 0.4rem;
		}
		&:last-child {
			right: 0.4rem;
		}
		@media screen and (max-width: breakpoint(tablet)) {
			display: none;
		}
	}

	@media screen and (max-width: breakpoint(mobileL)) {
		flex-basis: 95%;
		margin: 0;
	}

	& > h3 {
		margin: 0;
		text-transform: uppercase;
	}

	& > .apparel-container {
		background-color: white;
		align-items: center;
		overflow-wrap: break-word;
		display: flex;
		flex-wrap: nowrap;
		overflow-x: auto;
		width: 100%;
		-webkit-overflow-scrolling: touch;
		&::-webkit-scrollbar {
			display: none;
		}

		* {
			// position: relative;
			text-transform: uppercase;
		}
	}
}
