@import '../../../css/variables.scss';

.profile-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding: 2.5rem 0;

	* {
		font-family: $font;
	}

	header {
		@include title;
		margin-bottom: 20px;
		width: 105%;

		div {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 105%;

			h2 {
				font-size: 17px;
				margin: 10px 0;
			}
			.social-icon {
				font-size: 20px;
				float: right;
			}
		}
		h4 {
			color: color(grey);
			font-size: 10px;
			margin: 0;
			float: left;
		}
	}
	.form-container {
		&.profile-page {
			&::before {
				top: -0.6rem; // let it overlap a bit to prevent thin line which could appear during scaling in some browsers etc.
				bottom: 1.1rem;
				left: 1.1rem;
				right: -0.6rem;
			}

			&::after {
				left: -0.6rem;
				right: 1.1rem;
				top: 1.1rem;
				bottom: -0.6rem;
			}
		}
	}
	.social-icon {
		align-self: flex-end;
	}
}
