@import '../../css/variables.scss';

button {
	cursor: pointer;
	margin-top: .3rem;
	padding: 4px 0;
	background-color: color(grey);
	width: 80%;
	letter-spacing: 1px;
	color: #fff;
	border: none;
	font-size: 16px;
	text-transform: uppercase;
	outline: none;
	transition: all 0.2s linear;

	&:hover {
		background-color: darken(color(grey), 20%);
	}
}
