@import '../../../../../css/variables.scss';

.cloth-item {
	display: inline-flex;
	flex-direction: column;

	@media screen and (max-width: breakpoint(desktopL)) {
		width: 33%;
	}
	@media screen and (max-width: breakpoint(laptopS)) {
		width: 50%;
	}
	@media screen and (max-width: breakpoint(mobileL)) {
		width: 100%;
	}

	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	flex: 0 0 auto;

	& > a {
		max-width: 85%;
		& img.item-image {
			max-width: 100%;
		}
	}

	& .item-name {
		text-align: center;
	}

	& .price-tag {
		padding-top: 5px;
		font-size: smaller;
		color: grey;
	}

	& .upper-panel {
		display: inline-flex;
		justify-content: space-between;
		align-items: center;
		width: 90%;
		padding: 0.25em 0;
		& svg {
			font-size: 25px;
		}
	}
}
