@import '../../css/variables.scss';

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	* {
		font-family: $font;
	}

	header {
		@include title;
		margin-bottom: 20px;

		* {
			cursor: pointer;
			color: color(grey);
			text-decoration: none;
		}
		a.active {
			color: color(font-color);
		}
	}
}
