@import '../../css/variables.scss';

.size-table-wrapper {
	width: 75%;
	margin: 6px 0;

	ul.size-table {
		display: block;
		list-style: none;
		padding-left: 0;
		margin-bottom: 12px;
		margin-top: 0;

		li {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			font-size: 14px;

			div {
				span:first-child {
					min-width: 30px;
					display: inline-block;
					margin-right: 10px;
				}
			}
		}
	}
}
