@font-face {
    font-family: 'Work Sans';
    src: url('./fonts/WorkSans-Medium.eot');
    src: url('./fonts/WorkSans-Medium.eot?#iefix') format('embedded-opentype'),
        url('./fonts/WorkSans-Medium.woff2') format('woff2'),
        url('./fonts/WorkSans-Medium.woff') format('woff'),
        url('./fonts/WorkSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Work Sans';
    src: url('./fonts/WorkSans-Bold.eot');
    src: url('./fonts/WorkSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/WorkSans-Bold.woff2') format('woff2'),
        url('./fonts/WorkSans-Bold.woff') format('woff'),
        url('./fonts/WorkSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Work Sans';
    src: url('./fonts/WorkSans-SemiBold.eot');
    src: url('./fonts/WorkSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/WorkSans-SemiBold.woff2') format('woff2'),
        url('./fonts/WorkSans-SemiBold.woff') format('woff'),
        url('./fonts/WorkSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}