$colors: (
	purple: #b97fff,
	black: #282828,
	font-black: #393939,
	grey: #dbdbdb,
	input-border: #d6d6d6
);

$font: 'Work Sans', sans-serif;

@function color($color-name) {
	@return map-get($colors, $color-name);
}

@mixin borders {
    border: 8.5px solid color(purple);
	position: relative;

	&::before,
	&::after {
		content: '';
		display: block;
		position: absolute;
		background: color(black);
	}

	&::before {
		top: -0.3em; // let it overlap a bit to prevent thin line which could appear during scaling in some browsers etc.
		bottom: -0.3em;
		left: 1em;
        right: 1em;
	}

	&::after {
		left: -0.3em;
		right: -0.3em;
		top: 0.6em;
		bottom: 0.6em;
	}
}

@mixin title{
	font: bold 25px $font;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
}